# Virtual Environments
.venv/
venv/
ENV/
env/

# Python bytecode (compiled files)
__pycache__/
*.py[cod]
*$py.class

# Pytest and coverage
.pytest_cache/
.cache/
htmlcov/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Local configuration & environment variables
.env
.venv
.vscode/
.idea/

# Distribution / Build
dist/
build/
*.egg-info/